<h1>PICK YOUR FEEDS!</h1>
<form method="POST" action="/dashboard_form">
<select name="feeds">
  <option value="New_York_Times">New York Times</option>
  <option value="ESPN">ESPN</option>
  <option value="Twitter">Twitter</option>
<input type="submit" value="submit">
</select>
</form>

<a href="/profile">Take me to my Dashboard!</a>
