<section id="intro">
<h1>Hello World and Welcome To Your Fantasy Football Dashboard!</h1>
<br/>
<br/>
<h1><a href="/log_in">Log In</a></h1>
<br/>
<h2>OR</h2>
<br/>
<h1><a href="/sign_up">Sign Up</a></h1>
