body {
  background: url("../images/football.jpg") no-repeat center center fixed;
  background-size: cover;
}

#top, #nyt, #twitter, #espn,
#bleacher_report, #rotowire, #fbg {
  background: rgba(176,176,176,.8765);
  border-radius: 25px;
  text-align: center;
  margin: 0 23px 0 23px;
  font-size: 20px;
}

#intro, #new_user {
  background: rgba(176,176,176,.8765);
  border-radius: 25px;
  text-align: center;
  margin: 20% 23px 0 23px;
  font-size: 20px;
  padding: 20px 0 20px 0;
}

#form {
  background: rgba(176,176,176,.8765);
  border-radius: 25px;
  text-align: center;
  margin: 35px 23px 0 23px;
  font-size: 20px;
}
