<section id="sign_up">
  <h1>Sign Up Below!</h1>
  <br/>
  <br/>
  <form method="POST" action="/sign_up">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
    <br/>
    <br/>
    <h1>Where are you?</h1>
      <br/>
      <label for="city">City: </label>
      <input type="text" name="city" id="city">
      <label for="state">State: </label>
      <input type="text" name="state" id="state">

      <br/>
      <br/>

    <h1>PICK YOUR FEEDS!</h1>
      <br/>

        <% @feeds.each do |feed| %>

        <label for="<%= feed %>"> <%= feed %></label>
        <input type="checkbox" name="<%= feed %>" id="<%= feed %>">
        <br/>
        <br/>
        <% end %>




    <br/>
    <br/>



    <input type="submit" value="submit">
  </form>
</section>
